
<article class="bg-white p-4 rounded-2xl shadow-xl max-w-[320px] text-center">
  <div class="rounded-xl overflow-hidden mb-6">
    <img src="/image-qr-code.png" alt="QR Code" class="w-full h-auto" />
  </div>

  <div class="px-2 pb-6">
    <h1 class="text-[#1F314F] font-bold text-xl mb-4 leading-tight">
      Improve your front-end skills by building projects
    </h1>
    <p class="text-[#7D889E] text-[15px] leading-snug">
      Scan the QR code to visit Frontend Mentor and take your coding skills to the next level
    </p>
  </div>
</article>